@font-face {
  font-family: "HelvaticaNeue";
  src: url(../fonts/HelveticaNeueBdCnObl.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HelvaticaNeue";
  src: url(../fonts/HelveticaNeueMedium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelvaticaNeue";
  src: url(../fonts/HelveticaNeueRegular.ttf);
  font-weight: 400;
  font-style: normal;
}