* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ee6c4d;
  --text-color: #0d61d3;
  --white-color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

body {
  overflow-x: hidden;
  font-family: "HelvaticaNeue", "Roboto", sans-serif;
}

.loading {
  width: 100%;
  height: 100vh;
  background-color: #ee6c4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  z-index: 99999;
  padding: 20px;
}
.loading video {
  -webkit-animation: bounce-in-fwd 1.1s both;
  animation: bounce-in-fwd 1.1s both;
}
.loading video {
  width: 50%;
  height: 80%;
}

.navbar-toggler-icon {
  font-size: 2rem;
  height: auto;
  color: var(--white-color);
}
.navbar {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 39px;
}
.nav-link {
  color: var(--white-color);
  font-weight: bold;
}
.navbar-brand {
  color: var(--white-color);
}
.logo-img {
  width: 40%;
  padding: 10px;
}
.navbar-nav a {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
.navbar-nav a:active {
  color: var(--text-color);
}
.hLink {
  border-bottom: 2px solid var(--text-color);
}

.navbar-nav li {
  position: relative;
}

.navbar-nav a {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
.navbar-nav a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.navbar-nav a:hover::after {
  width: 100%;
}
#main {
  background-image: url("../../image/homepage_revamp/hero-banner.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#main .content {
  padding: 16px;
  -webkit-backdrop-filter: brightness(0.5);
  backdrop-filter: brightness(0.5);
  width: 100%;
}
#lottie-hero {
  max-width: 600px;
  margin: 0 auto;
}
#main h1 {
  font-size: 5.5rem;
  padding-left: 25px;
  padding-top: 30px;
  color: var(--primary-color);
  font-weight: 700;
}
#main p {
  font-size: 1.4rem;
  color: var(--white-color);
  padding-top: 1px;
  padding-left: 30px;
  font-weight: 400;
}
#journey {
  min-height: 90vh;
}
#journey h1 {
  font-weight: bold;
  text-align: center;
  font-size: 3.2rem;
  color: var(--text-color);

  font-weight: 900;
}
#journey p {
  font-size: 1rem;
  font-weight: 400;
}

#section2 {
  background: #f7ebe9;
  padding-bottom: 30px;
  min-height: 90vh;
}
.head1 {
  margin-top: 40px;
  color: var(--text-color);
}
.head2 {
  color: var(--text-color);
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 40px;
}
.para {
  font-size: 1rem;
  text-transform: capitalize;
  color: #707070;
  font-weight: 400;
}
.img {
  width: 90%;
  margin-top: 10%;
}
#section3 {
  background: #ecf2fa;
  min-height: 100vh;
}
.col {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.sec3-main {
  margin-top: 10%;
  margin-left: 2%;
  background: #f7ebe9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.target-img {
  width: 50%;
  background-color: #f7ebe9;
  border-radius: 50%;
}
.target-p {
  margin-left: 20%;
  margin-top: 10px;
  font-weight: 400;
}
.textCon-p {
  font-size: 1rem;

  color: #707070;

  margin-left: 25%;
  padding-top: 20px;
  font-weight: 400;
}
.img {
  width: 100%;
  margin-top: 10%;
  margin-left: 20%;
}
.sec2-part1 {
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: -83px;
  left: 0px;
}
.ways-list {
  counter-reset: ways;
}
.ways-list > li::before {
  counter-increment: ways;
  content: " " counter(ways) ". ";
}
.heading {
  color: var(--text-color);
  font-weight: bold;
}
#section4 p {
  font-size: 1rem;
  color: #707070;
  font-weight: 400;
}
.btn {
  background-color: var(--text-color);
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
}
.btn:hover {
  border-radius: 0px;
}
#section5 {
  background: #f7ebe9;

  min-height: 60vh;
}
.sec-heading {
  color: var(--text-color);
  font-size: 4rem;
}
.sec-para {
  font-size: 1rem;
  color: #707070;
  font-weight: 400;
  padding-top: 20px;
}
.ceo-img {
  width: 60%;
  margin-top: 30px;
  margin-right: -15px;
}

#section6 .side-box {
  background-color: #ecf2fa;
  height: 655px;
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.side-img {
  width: 50%;
}
.box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#section6 .left {
  height: 200px;
  width: 350px;
}
#section6 .right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-right: 25px;
}
#section6 .right {
  height: 200px;
  width: 350px;
  margin-left: 30px;
}
.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: #ecf2fa;
}
.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: #ecf2fa;
}
.person1-img {
  width: 100%;
}
.person2-img {
  width: 100%;
}
.img-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.left .images {
  height: 100px;
  width: 100px;
}
.right .images {
  height: 100px;
  width: 100px;
}
.btn1 {
  margin-bottom: 20px;
  padding: 3px 20px;
  border-radius: 20px;
  background-color: var(--white-color);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.btn2 {
  padding: 3px 20px;
  border-radius: 20px;
  background-color: var(--white-color);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#section6 {
  min-height: 100vh;
}

.mid-content {
  width: 70%;
  z-index: 1;
}
.mid-content p {
  font-size: 1rem;
  color: #707070;
  line-height: 20px;
  font-weight: 400;
}
.mid-content h2 {
  color: var(--text-color);
  font-weight: bold;
  font-size: 3rem;
}

#section7 {
  background-color: #f7ebe9;

  min-height: 570px;
  position: relative;
}
#lottie-contactBanner {
  position: absolute;
  height: 100%;
  width: 100%;
}
#section7 .row {
  height: 100%;
}
#section7 .sec7-heading {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2.5rem;
}
.formm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
input {
  width: 100%;
  outline: none;
  border: none;
  height: 40px;
  padding: 10px;
}
::-webkit-input-placeholder {
  font-size: 0.7rem;
}
::-moz-placeholder {
  font-size: 0.7rem;
}
:-ms-input-placeholder {
  font-size: 0.7rem;
}
::-ms-input-placeholder {
  font-size: 0.7rem;
}
::placeholder {
  font-size: 0.7rem;
}
.form-box {
  width: 400px;

  padding: 20px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);

  background: rgba(255, 255, 255, 0.5);
}
.form-box h4 {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
}
.form-btn {
  margin-top: 30px;
  padding: 5px 30px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  font-size: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}
.form-btn:hover {
  border-radius: 2px;
}
.mob-num {
  margin-left: 10px;
}
label {
  font-weight: bold;
}
.footer {
  width: 100%;
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
}

.description {
  width: 30%;
}

.description img {
  width: 200px;
  padding-bottom: 35px;
}

.description p {
  color: #fff;
}

.menu {
  width: 30%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.menu li {
  font-size: 1.2rem;
  padding: 10px;
  list-style: none;
}

.menu #span {
  color: #505050;
  font-size: 1.3rem;
}

.menu a {
  color: #fff;
  -webkit-transition: 0.1s all linear;
  -o-transition: 0.1s all linear;
  transition: 0.1s all linear;
}

.menu a:hover {
  color: var(--text-color);
}

.social-link {
  padding-right: 20px;
}

.social-link h2 {
  color: #505050;
  font-size: 1.3rem;
  padding-bottom: 5px;
}

.social-link a {
  padding: 5px;
  font-size: 2rem;
  color: #fff;
}

.social-link img {
  width: 160px;
}

.social-link i {
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.social-link i:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.bxl-instagram:hover {
  background: -o-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border-radius: 5px;
}

.bxl-whatsapp:hover {
  background: #25d366;
  border-radius: 5px;
}

.bxl-facebook:hover {
  background: #3b5998;
  border-radius: 5px;
}
.bxl-twitter:hover {
  background: #00acee;
  border-radius: 5px;
}
.bxl-linkedin:hover {
  background: #0a66c2;
  border-radius: 5px;
}

.bxl-youtube:hover {
  background: #c4302b;
  border-radius: 5px;
  width: 40px;
  text-align: center;
}

@media (max-width: 1280px) {
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    gap: 1rem;
  }
  .hLink {
    border-bottom: none;
  }
  .navbar-nav a {
    font-size: 1rem;
    font-weight: 300;
    color: #ee6c4d;
  }
  .navbar-nav.active {
    top: 100%;
  }
  .navbar.active {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(20%, #ee6c4d),
      color-stop(20%, #fff)
    );
    background-image: -o-linear-gradient(#ee6c4d 20%, #fff 20%);
    background-image: linear-gradient(#ee6c4d 20%, #fff 20%);
  }
  #main h1 {
    font-size: 2.8rem;
  }
  #main p {
    font-size: 1.1rem;
  }
  #main .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #section6 .side-box {
    width: auto;
    height: 450px;
  }
  .side-col {
    background-color: #ecf2fa;
  }
  .mid-content {
    width: auto;
  }

  #section6 .right-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -ms-flex-flow: wrap;
    flex-flow: wrap;
  }
  #section6 .right {
    border: 10px solid var(--white-color);
    margin-left: 0px;
  }
  #section6 .left {
    border: 10px solid var(--white-color);
  }

  .sec3-main {
    margin-top: 25%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .img {
    width: 70%;

    margin-bottom: 10%;
  }
  .sec2-part2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: end;
  }
  .textCon-p {
    font-size: 1rem;
    color: #707070;
    margin-left: 0%;
    margin-top: 35%;
  }
}

@media (max-width: 1177px) {
  .description {
    width: 60%;
  }
}

@media (max-width: 878px) {
  .description {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .description img {
    width: 150px;
  }

  .description p {
    font-size: 1rem;
  }

  .menu {
    gap: 50px;
  }

  .menu li {
    font-size: 1rem;
  }

  .social-link h2 {
    font-size: 1rem;
    padding: 10px;
  }

  .social-link a {
    font-size: 2.5rem;
  }

  .social-link img {
    width: 120px;
  }
}

@media (max-width: 380px) {
  .app_link img {
    width: 100px;
  }
  .social-link img {
    width: 90px;
  }
}

@media screen and (max-width: 875px) {
  .menu {
    width: 100%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
