* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ee6c4d;
  --text-color: #0d61d3;
  --white-color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
/* HOME PAGE START */

.loading {
  width: 100%;
  height: 100vh;
  background-color: #ee6c4d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99999;
  padding: 20px;
}
.loading video {
  -webkit-animation: bounce-in-fwd 1.1s both;
  animation: bounce-in-fwd 1.1s both;
}
.loading video {
  width: 50%;
  height: 80%;
}

.navbar-toggler-icon {
  font-size: 2rem;
  height: auto;
  color: var(--white-color);
}
.navbar {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.navbar-nav {
  display: flex;
  gap: 39px;
}
.nav-link {
  color: var(--white-color);
}
.navbar-brand {
  color: var(--white-color);
}
.logo-img {
  width: 40%;
  padding: 10px;
}
.navbar-nav a {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
.navbar-nav a:active {
  color: var(--text-color);
}
.hLink {
  border-bottom: 2px solid var(--text-color);
}

.navbar-nav li {
  position: relative;
}

.navbar-nav a {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
.navbar-nav a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: 0.2s all linear;
}

.navbar-nav a:hover::after {
  width: 100%;
}
#main {
  background-image: url("../../image/homepage_revamp/hero-banner.png");
  height: 85vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}
#main .content {
  padding: 40px;
  backdrop-filter: brightness(0.5);
  width: 100%;
}
#main h1 {
  font-size: 5.5rem;
  padding-left: 25px;
  padding-top: 30px;
  color: var(--primary-color);
}
#main p {
  font-size: 1.4rem;
  color: var(--white-color);
  padding-top: 1px;
  padding-left: 30px;
}
#journey {
  margin-bottom: 6rem;
}
#journey h1 {
  /* padding: 10px; */
  font-weight: bold;
  text-align: center;
  font-size: 3.2rem;
  color: var(--text-color);
}
#journey p {
  font-size: 0.8rem;
}
/*section2*/
#section2 {
  background: #f7ebe9;
  padding-bottom: 30px;
}
.head1 {
  margin-top: 40px;
  color: var(--text-color);
}
.head2 {
  color: var(--text-color);
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 40px;
}
.para {
  font-size: 0.9rem;
  line-height: 30px;
  text-transform: capitalize;
  color: #707070;
}
.img {
  width: 90%;
  margin-top: 10%;
}
#section3 {
  background: #ecf2fa;
  padding-bottom: 40px;
}
.col {
  background-image: url("../../image/homepage_revamp/map.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.text-content {
  margin-top: 13%;
  background: #f7ebe9;
  padding-top: 13%;
  padding-left: 30%;
  padding-bottom: 15px;
}
.text-content p {
  font-size: 0.9rem;
  color: #707070;
}
.circle {
  height: 150px;
  width: 150px;
  background: #f7ebe9;
  border-radius: 100%;
  position: absolute;
  top: 40px;
  left: 10px;
}
.target-img {
  width: 100%;
  border-radius: 100%;
}
#section4 {
  /* padding-bottom: 60px; */
}
.heading {
  /* margin-top: 50px; */
  color: var(--text-color);
  font-weight: bold;
}
#section4 p {
  font-size: 0.8rem;
  color: #707070;
}
.btn {
  background-color: var(--text-color);
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
}
.btn:hover {
  border-radius: 0px;
}
#section5 {
  background: #f7ebe9;
  margin-bottom: 10px;
  padding: 5rem;
}
.sec-heading {
  color: var(--text-color);
  padding-top: 40px;
}
.sec-para {
  font-size: 0.8rem;
  color: #707070;
}

#section6 .side-box {
  background-color: #ecf2fa;
  height: 570px;
  width: 550px;
  position: absolute;
  left: 0px;

  /* position: absolute;
  left: 0;
  top: 0; */
}
#section6 .left {
  height: 200px;
  width: 350px;
}
#section6 .right-col {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
}
#section6 .right {
  height: 200px;
  width: 350px;
  margin-left: 30px;
}
.left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ecf2fa;
}
.right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ecf2fa;
}
.person1-img {
  width: 100%;
}
.person2-img {
  width: 100%;
}
.img-btn {
  display: flex;
  flex-direction: column;
}
.left .images {
  height: 100px;
  width: 100px;
}
.right .images {
  height: 100px;
  width: 100px;
}
.btn1 {
  margin-bottom: 20px;
  padding: 3px 20px;
  border-radius: 20px;
  background-color: var(--white-color);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.btn2 {
  padding: 3px 20px;
  border-radius: 20px;
  background-color: var(--white-color);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#section6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 20px;
  position: relative;
  padding: 0px 50px;
}

.mid-content {
  /* height: 200px; */
  z-index: 1;
}
.mid-content p {
  font-size: 0.8rem;
  color: #707070;
}
.mid-content h2 {
  color: var(--text-color);
  font-weight: bold;
  font-size: 3rem;
}

#section7 {
  background-color: #f7ebe9;
  /* background-image: url("../../image/homepage_revamp/contactBanner.png"); */
  /* background-size: cover;
  background-repeat: no-repeat; */
  min-height: 570px;
  position: relative;
}
#lottie-contactBanner {
  position: absolute;
  height: 100%;
  width: 100%;
}
#section7 .row {
  height: 100%;
}
#section7 .sec7-heading {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 3rem;
}
.formm {
  display: flex;
  /* justify-content: space-between; */
}
input {
  width: 100%;
  outline: none;
  border: none;
  height: 40px;
  padding: 10px;
}
::placeholder {
  font-size: 0.7rem;
}
.form-box {
  width: 400px;
  /* border: 1px solid gray; */
  padding: 20px;
  backdrop-filter: blur(1px);
  /* background-color: transparent; */
  background: rgba(255, 255, 255, 0.5);
}
.form-box h4 {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
}
.form-btn {
  margin-top: 30px;
  padding: 5px 30px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  font-size: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}
.form-btn:hover {
  border-radius: 2px;
}
.mob-num {
  margin-left: 10px;
}
label {
  font-weight: bold;
}
.footer {
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  padding: 20px;
}

.description {
  width: 30%;
}

.description img {
  width: 200px;
  padding-bottom: 35px;
}

.description p {
  color: #fff;
}

.menu {
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
}

.menu li {
  font-size: 1.2rem;
  padding: 10px;
  list-style: none;
}

.menu #span {
  color: #505050;
  font-size: 1.3rem;
}

.menu a {
  color: #fff;
  transition: 0.1s all linear;
}

.menu a:hover {
  color: var(--text-color);
}

.social-link {
  padding-right: 20px;
}

.social-link h2 {
  color: #505050;
  font-size: 1.3rem;
  padding-bottom: 5px;
  /* padding: 10px; */
}

.social-link a {
  padding: 5px;
  font-size: 2rem;
  color: #fff;
}

.social-link img {
  width: 160px;
}

.social-link i {
  transition: 0.2s all linear;
}

.social-link i:hover {
  /* color: var(--text-color); */
  transform: scale(1.2);
}
.bxl-instagram:hover {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border-radius: 5px;
}

.bxl-whatsapp:hover {
  background: #25d366;
  border-radius: 5px;
}

.bxl-facebook:hover {
  background: #3b5998;
  border-radius: 5px;
}
.bxl-twitter:hover {
  background: #00acee;
  border-radius: 5px;
}
.bxl-linkedin:hover {
  background: #0a66c2;
  border-radius: 5px;
}

.bxl-youtube:hover {
  background: #c4302b;
  border-radius: 5px;
  width: 40px;
  text-align: center;
}

@media (max-width: 1280px) {
  /* header {
    padding: 20px 55px;
  } */

  .navbar-nav {
    display: flex;
    text-align: center;
    gap: 1rem;
  }
  .hLink {
    border-bottom: none;
  }
  .navbar-nav a {
    font-size: 1rem;
    font-weight: 300;
    color: #ee6c4d;
  }
  .navbar-nav.active {
    top: 100%;
  }
  .navbar.active {
    background-image: linear-gradient(#ee6c4d 20%, #fff 20%);
  }
  #main h1 {
    font-size: 2.8rem;
    /* padding-left: 30px;
  padding-top: 100px; */
  }
  #main p {
    font-size: 1.1rem;
  }
  #main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #section6 .side-box {
    display: none;
  }
  #section6 .right-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
   margin-right: 25px;
  }
  #section6 .right {
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media (max-width: 1177px) {
  .description {
    width: 60%;
  }
}

@media (max-width: 878px) {
  .description {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .description img {
    width: 150px;
  }

  .description p {
    font-size: 1rem;
  }

  .menu {
    gap: 50px;
  }

  .menu li {
    font-size: 1rem;
  }

  .social-link h2 {
    font-size: 1rem;
    padding: 10px;
  }

  .social-link a {
    font-size: 2.5rem;
  }

  .social-link img {
    width: 120px;
  }
}

@media (max-width: 380px) {
  .app_link img {
    width: 100px;
  }
  .social-link img {
    width: 90px;
  }
}

@media screen and (max-width: 875px) {
  .menu {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  /* .otherLinks {
  margin-top: 20px;
} */
}
